.underlogo
  font-size: 1rem
  display: block

footer
  margin-top: 2rem
  border-top: 1px solid #d7e0e2
  div
    padding: 15px

.form-inline
  input
    margin-left: 10px
  select
    margin-left: 10px
  button
    margin-left: 10px

.content
  .form-inline
    margin: 10px 0

.toast-top-right
  top: 90px

.toast-success
  background-color: #0CB0E8