.underlogo
  font-size: 1rem
  display: block

footer
  border-top: 1px solid #d7e0e2
  div
    padding: 15px

.form-inline
  input
    margin-left: 10px
  button
    margin-left: 10px

.toast-top-right
  top: 90px

.toast-success
  background-color: #0CB0E8