.underlogo {
  font-size: 1rem;
  display: block;
}
footer {
  margin-top: 2rem;
  border-top: 1px solid #d7e0e2;
}
footer div {
  padding: 15px;
}
.form-inline input {
  margin-left: 10px;
}
.form-inline button {
  margin-left: 10px;
}
.toast-top-right {
  top: 90px;
}
.toast-success {
  background-color: #0cb0e8;
}
