script(src='js/scripts.js')
script(src='app/app.js')
script(src='app/main/mvMainCtrl.js')
script(src='app/account/mvNavBarLoginCtrl.js')
script(src='app/account/mvIdentity.js')
script(src='app/common/mvNotifier.js')
script(src='app/account/mvAuth.js')
script(src='app/account/mvUser.js')
script(src='app/admin/mvUserListCtrl.js')
script(src='app/account/mvSignupCtrl.js')